- if user_signed_in?
  = "#{current_user.nickname}でログイン中"
  = link_to 'ログアウト', user_registration_path, method: :delete
- else
  .signup-wrapper
    = render 'shared/header-simple'
    .signups-main
      .signups-main__box
        .signups-main__box__top
          新規会員登録
        .signups-main__box__bottom
          .signups-main__box__bottom__btn
            = link_to new_user_registration_path do
              .signups-main__box__bottom__btn__mail
                = icon("far", "envelope", class: "icon")
                メールアドレスで登録する
          （注意）Facebook,Googleは本番環境では実装していません
          .signups-main__box__bottom__btn
            = link_to user_facebook_omniauth_authorize_path, method: :post do
              .signups-main__box__bottom__btn__facebook
                = icon("fab", "facebook-square", class: "icon")
                Facebookで登録する
          .signups-main__box__bottom__btn
            = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
              .signups-main__box__bottom__btn__google
                = icon("fab", "google", class: "icon")
                Googleで登録する
    = render 'shared/footer-simple'