%header
  .content
    .top-content
      .top-content__logo
        = link_to "#" do
          = image_tag("fmarket_logo_red.svg", class:"top-content__logo")
      = form_with class: 'top-content__search', url: products_path, local: true do |f|
        = f.text_field :keyword, placeholder:'何かお探しですか？', class: 'top-content__search__keyword', id: 'top-content__search__keyword'
        %label.top-content__search__icon
          = icon('fas', 'search')
          = f.submit :submit, style: "display: none;"
    .bottom-content
      .bottom-content__item
        .bottom-content__item__category
          = link_to "#" ,class: "bottom-content__item__category__part" do
            = icon('fas', 'list', class: 'bottom-content__item__category__part__icon')
            カテゴリーから探す
          = render "shared/menulist"
        .bottom-content__item__brand
          = link_to "#", class: "bottom-content__item__brand__part" do
            = icon('fas', 'tag', class: 'bottom-content__item__brand__part__icon')
            ブランドから探す
      %ul.bottom-content__list
        %li.bottom-content__list__favorite
          = link_to "#", class: "bottom-content__list__favorite__part" do
            = icon('far', 'heart', class: 'bottom-content__list__favorite__part__icon')
            いいね！一覧
        %li.bottom-content__list__notice
          = link_to "#", class: "bottom-content__list__notice__part" do
            = icon('far', 'bell', class: 'bottom-content__list__notice__part__icon')
            お知らせ
        %li.bottom-content__list__todo
          = link_to "#", class: "bottom-content__list__todo__part" do
            = icon('fas', 'check', class: 'bottom-content__list__todo__part__icon')
            やることリスト
        %li.bottom-content__list__mypage
          = link_to "#", class: 'bottom-content__list__mypage__part' do
            = image_tag("",class:"bottom-content__list__mypage__part__img")
            マイページ

