%header
  .content
    .top-content
      .top-content__logo
        = link_to root_path do
          = image_tag("fmarket_logo_red.svg", class:"top-content__logo")
      = search_form_for(@q, url: searches_path, class: 'top-content__search') do |f|
        = f.search_field :product_name_cont, placeholder:'何かお探しですか？', class: 'top-content__search__keyword', id: 'top-content__search__keyword'
        %label.top-content__search__icon
          = icon('fas', 'search')
          = f.submit :submit, style: "display: none;"
    .bottom-content
      .bottom-content__item
        .bottom-content__item__category
          .header-category__link
            = link_to categories_path ,class: "bottom-content__item__category__part" do
              = icon('fas', 'list', class: 'bottom-content__item__category__part__icon')
              カテゴリーから探す
          .header-category__box
            .header-category__box__first
              - @category.each do |category|
                .header-category__box__first__list{data: {category: {id: category.id}}}
                  = link_to category_path(category.id) do
                    = category.name
            .header-category__box__second
            .header-category__box__third

        .bottom-content__item__brand
          = link_to "#", class: "bottom-content__item__brand__part" do
            = icon('fas', 'tag', class: 'bottom-content__item__brand__part__icon')
            ブランドから探す
      - if user_signed_in?
        %ul.bottom-content__list
          %li.bottom-content__list__favorite
            = link_to "#", class: "bottom-content__list__favorite__part" do
              = icon('far', 'heart', class: 'bottom-content__list__favorite__part__icon')
              いいね！一覧
          %li.bottom-content__list__notice
            = link_to "#", class: "bottom-content__list__notice__part" do
              = icon('far', 'bell', class: 'bottom-content__list__notice__part__icon')
              お知らせ
          %li.bottom-content__list__todo
            = link_to "#", class: "bottom-content__list__todo__part" do
              = icon('fas', 'check', class: 'bottom-content__list__todo__part__icon')
              やることリスト
          %li.bottom-content__list__mypage
            = link_to mypages_path, class: 'bottom-content__list__mypage__part' do
              = image_tag("",class:"bottom-content__list__mypage__part__img")
              マイページ
      - else
        %ul.bottom-content__list
          %li.bottom-content__list__new-registration
            = link_to "新規登録" , users_path, class: 'btn'
          %li.bottom-content__list__login
            = link_to "ログイン", new_user_session_path, class: 'btn'
            
