.bottom-content__item__category__menu 
  %ul.bottom-content__item__category__menu__list.Category
    %li.bottom-content__item__category__menu__list__ladies.CategoryPart
      = link_to "#", class: "bottom-content__item__category__menu__list__ladies__Atag" do
        レディース
      %ul.bottom-content__item__category__menu__list__ladies__list.Ladies
        %li.bottom-content__item__category__menu__list__ladies__list__tops.LadiesCategoryPart
          = link_to "#", class: "bottom-content__item__category__menu__list__ladies__list__tops__Atag" do
            トップス
          %ul.bottom-content__item__category__menu__list__ladies__list__tops__list.Tops
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                Tシャツ/カットソー(半袖/袖無し)
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                Tシャツ/カットソー(七分/長袖)
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                シャツ/ブラウス(半袖/袖無し)
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                Tシャツ/カットソー(七分/長袖)
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                ポロシャツ
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                キャミソール
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                タンクトップ
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                ホルターネック
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                ニット/セーター
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                チュニック
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                カーディガン/ボレロ
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                アンサンブル
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                ベスト/ジレ
            %li.LadiesCategoryTopsPart
              = link_to "#" do
                パーカー
        %li.bottom-content__item__category__menu__list__ladies__list__outer.LadiesCategoryPart
          = link_to "#" do
            ジャケット/アウター
        %li.bottom-content__item__category__menu__list__ladies__list__pants.LadiesCategoryPart
          = link_to "#" do
            パンツ
        %li.bottom-content__item__category__menu__list__ladies__list__skirt.LadiesCategoryPart
          = link_to "#" do
            スカート
        %li.bottom-content__item__category__menu__list__ladies__list__shoes.LadiesCategoryPart
          = link_to "#" do
            靴
        %li.bottom-content__item__category__menu__list__ladies__list__pajamas.LadiesCategoryPart
          = link_to "#" do
            ルームウェア/パジャマ
        %li.bottom-content__item__category__menu__list__ladies__list__legwear.LadiesCategoryPart
          = link_to "#" do
            レッグウェア
        %li.bottom-content__item__category__menu__list__ladies__list__headgear.LadiesCategoryPart
          = link_to "#" do
            帽子
        %li.bottom-content__item__category__menu__list__ladies__list__bag.LadiesCategoryPart
          = link_to "#" do
            バッグ
        %li.bottom-content__item__category__menu__list__ladies__list__accessories.LadiesCategoryPart
          = link_to "#" do
            アクセサリー
        %li.bottom-content__item__category__menu__list__ladies__list__hearaccessories.LadiesCategoryPart
          = link_to "#" do
            ヘアアクセサリー
        %li.bottom-content__item__category__menu__list__ladies__list__smallarticle.LadiesCategoryPart
          = link_to "#" do
            小物
        %li.bottom-content__item__category__menu__list__ladies__list__wathch.LadiesCategoryPart
          = link_to "#" do
            時計
    %li.bottom-content__item__category__menu__list__mens.CategoryPart
      = link_to "#" do
        メンズ
      %ul.bottom-content__item__category__menu__mens.Mens
        %li.bottom-content__item__category__menu__list__mens__list__tops.MensCategoryPart
          = link_to "#" do
            トップス
        %li.bottom-content__item__category__menu__list__mens__list__outer.MensCategoryPart
          = link_to "#" do
            ジャケット/アウター
        %li.bottom-content__item__category__menu__list__mens__list__pants.MensCategoryPart
          = link_to "#" do
            パンツ
        %li.bottom-content__item__category__menu__list__mens__list__shoes.MensCategoryPart
          = link_to "#" do
            靴
        %li.bottom-content__item__category__menu__list__mens__list__bag.MensCategoryPart
          = link_to "#" do
            バッグ
        %li.bottom-content__item__category__menu__list__mens__list__suit.MensCategoryPart
          = link_to "#" do
            スーツ
        %li.bottom-content__item__category__menu__list__mens__list__headgear.MensCategoryPart
          = link_to "#" do
            帽子
        %li.bottom-content__item__category__menu__list__mens__list__accessories.MensCategoryPart
          = link_to "#" do
            アクセサリー
        %li.bottom-content__item__category__menu__list__mens__list__smallarticle.MensCategoryPart
          = link_to "#" do
            小物
        %li.bottom-content__item__category__menu__list__mens__list__watch.MensCategoryPart
          = link_to "#" do
            時計
        %li.bottom-content__item__category__menu__list__mens__list__swimSuit.MensCategoryPart
          = link_to "#" do
            水着
        %li.bottom-content__item__category__menu__list__mens__list__legwear.MensCategoryPart
          = link_to "#" do
            レッグウェア
        %li.bottom-content__item__category__menu__list__mens__list__underwear.MensCategoryPart
          = link_to "#" do
            アンダーウェア
        %li.bottom-content__item__category__menu__list__mens__list__other.MensCategoryPart
          = link_to "#" do
            その他
    %li.bottom-content__item__category__menu__list__BabyKids.CategoryPart
      = link_to "#" do
        ベビー・キッズ
    %li.bottom-content__item__category__menu__list__interior.CategoryPart
      = link_to "#" do
        インテリア・住まい・小物
    %li.bottom-content__item__category__menu__list__BookMusicGame.CategoryPart
      = link_to "#" do
        本・音楽・ゲーム
    %li.bottom-content__item__category__menu__list__HobbyGoods.CategoryPart
      = link_to "#" do
        おもちゃ・ホビー・グッズ
    %li.bottom-content__item__category__menu__list__cosmetics.CategoryPart
      = link_to "#" do
        コスメ・香水・美容
    %li.bottom-content__item__category__menu__list__electricalappliances.CategoryPart
      = link_to "#" do
        家電・スマホ・カメラ
    %li.bottom-content__item__category__menu__list__sports.CategoryPart
      = link_to "#" do
        スポーツ・レジャー
    %li.bottom-content__item__category__menu__list__handmaid.CategoryPart
      = link_to "#" do
        ハンドメイド
    %li.bottom-content__item__category__menu__list__ticket.CategoryPart
      = link_to "#" do
        チケット
    %li.bottom-content__item__category__menu__list__vehicle.CategoryPart
      = link_to "#" do
        自動車・オートバイ
    %li.bottom-content__item__category__menu__list__other.CategoryPart
      = link_to "#" do
        その他
    %li.bottom-content__item__category__menu__list__categorylist.CategoryPart
      = link_to "#" do
        カテゴリー一覧