.mypage-wrapper
  = render 'shared/header'
  .mypage-main
    = render 'side-bar'
    .mypage-main__container
      .mypage-main__container__card-box
        .mypage-main__container__card-box__head
          支払い方法
          .mypage-main__container__card-box__content
            .mypage-main__container__card-box__content__top
              .mypage-main__container__card-box__content__top__text
                クレジットカード一覧
              .mypage-main__container__card-box__content__top__card
                .mypage-main__container__card-box__content__top__card__name
                  VISA
                .mypage-main__container__card-box__content__top__card__num
                  ************
                .mypage-main__container__card-box__content__top__card__date
                  1/21
                .mypage-main__container__card-box__content__top__card__delete
                  = link_to "#", {method: :delete} do
                    削除する
            .mypage-main__container__card-box__content__bottom
              = link_to "#" do
                支払方法について
                .fa.fa-chevron-right
  = render 'shared/footer'