.mypage-wrapper
  = render 'shared/header'
  .mypage-main
    = render 'side-bar'
    .mypage-main__container
      .mypage-main__container__identification
        .mypage-main__container__identification__top
          本人情報
        = form_with model: @address, url: update_identification_mypage_path, local: true do |f|
          .mypage-main__container__identification__main
            .mypage-main__container__identification__main__head
              .mypage-main__container__identification__main__head__text-exp
                お客さまの本人情報をご登録ください。
                %br
                登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
              .mypage-main__container__identification__main__head__text-right
                = link_to "#" do
                  本人確認書類のアップロードについて
                  .fa.fa-chevron-right
            .mypage-main__container__identification__main__form-group
              %label
                お名前
              %p
                = current_user.last_name
                = current_user.first_name
            .mypage-main__container__identification__main__form-group
              %label
                お名前カナ
              %p
                = current_user.last_name_kana
                = current_user.first_name_kana
            .mypage-main__container__identification__main__form-group
              %label
                生年月日
              %p
                = "#{current_user.birth_year}/"
                = "#{current_user.birth_month}/"
                = current_user.birth_day
            .mypage-main__container__identification__main__form-group
              %label
                郵便番号
              %span 任意
              = f.text_field :zip_code, placeholder: "例）1234567"
            .mypage-main__container__identification__main__form-group
              %label
                都道府県
              %span 任意
              = f.collection_select :prefecture, Prefecture.all, :name, :name, {prompt: "-------"}
            .mypage-main__container__identification__main__form-group
              %label
                市区町村
              %span 任意
              = f.text_field :city, placeholder: "例）横浜市緑区"
            .mypage-main__container__identification__main__form-group
              %label
                番地
              %span 任意
              = f.text_field :block_num, placeholder: "例）青山1-1-1"
            .mypage-main__container__identification__main__form-group
              %label
                建物名
              %span 任意
              = f.text_field :building_name, placeholder: "例）柳ビル103"
            .mypage-main__container__identification__main__btn
              = f.submit '登録する'
            .mypage-main__container__identification__main__bottom
              = link_to "#" do
                本人情報の登録について
                .fa.fa-chevron-right



  = render 'shared/footer'