.mypage-wrapper
  = render 'shared/header'
  - breadcrumb :listing
  = render 'layouts/breadcrumbs'
  .mypage-main
    = render 'side-bar'
    .mypage-main__container
      .mypage-main__container__box
        .mypage-main__container__box__head
          出品した商品
        .mypage-main__container__box__lists
          = link_to "#", class: "mypage-main__container__box__lists__active" do
            出品中
          = link_to "#", class: "mypage-main__container__box__lists__inactive" do
            取引中
          = link_to "#", class: "mypage-main__container__box__lists__inactive" do
            売却済み
        - unless @products.any?
          .mypage-main__container__box__no-product
            出品中の商品はありません
        - else
          .mypage-main__container__box__products
            - @products.each do |product|
              - if product.selling_status_id == "1"
                = link_to detail_product_path(product.id), class: "mypage-main__container__box__products__product" do
                  .mypage-main__container__box__products__product__image
                    = image_tag "#{product.images[0].image}"
                  .mypage-main__container__box__products__product__content
                    .mypage-main__container__box__products__product__content__name
                      = product.product_name
                    .mypage-main__container__box__products__product__content__icon
                      .far.fa-heart
                        0
                      .far.fa-comment-alt
                        0
                  .mypage-main__container__box__products__product__arrow
                    .fas.fa-angle-right
  = render 'shared/footer'