.wrapper
  = render "shared/header"
  = render 'products/exhibit-btn'
  - breadcrumb :category_show
  = render 'layouts/breadcrumbs'
  .category-main
    .category-main__container
      %ul.category-main__container__list
        - @show_category.children.each do |child|
          %li
            = link_to "#{child.name}", category_path(child)
      .category-main__container__item-box
        .category-main__container__item-box__head
          = "#{@show_category.name}の商品一覧"
        .category-main__container__item-box__contents
          .category-main__container__item-box__contents__images
            - @category_products.each do |product|
              - if user_signed_in? 
                - unless current_user.id == product.user_id
                  .category-main__container__item-box__contents__images__box
                    = link_to product_path(product.id) do
                      .category-main__container__item-box__contents__images__box__image
                        - if product.selling_status_id == "3"
                          .sold-out
                            .sold-out__text 
                              SOLD
                        = image_tag "#{product.images[0].image}"
                      .category-main__container__item-box__contents__images__box__price
                        = "¥#{product.price}"
                      .category-main__container__item-box__contents__images__box__text
                        %div
                          = product.product_name
              - else
                .category-main__container__item-box__contents__images__box
                  = link_to product_path(product.id) do
                    .category-main__container__item-box__contents__images__box__image
                      - if product.selling_status_id == "3"
                        .sold-out
                          .sold-out__text 
                            SOLD
                      = image_tag "#{product.images[0].image}"
                    .category-main__container__item-box__contents__images__box__price
                      = "¥#{product.price}"
                    .category-main__container__item-box__contents__images__box__text
                      %div
                        = product.product_name
      .category-main__container__page
        %ul.category-main__container__page__num
          %li.active
            1
          %li
            2
          %li
            3
          %li
            4
          %li
            5
        %ul.category-main__container__page__next
          %li
            .fa.fa-chevron-right
          %li
            .fa.fa-chevron-circle-right
      .category-main__container__description
        .category-main__container__description__title
          #{@show_category.name}
          - if @show_category.has_parent?
            (#{@show_category.root.name})
        .category-main__container__description__text
          - if @show_category.has_parent?
            #{@show_category.name}(#{@show_category.root.name})の着ない服、いらない洋服を売るならメルカリへ。
          - else
            #{@show_category.name}の着ない服、いらない洋服を売るならメルカリへ。
  = render "shared/footer"