.wrapper
  = render "shared/header"
  = render 'exhibit-btn'
  .toppage-main
    .toppage-main__image
      %ul.slider
        %li.slider__first
          = image_tag("clothes.jpg", width: '1440px', height: '450px')
        %li.slider__second
          = image_tag("book.jpg", width: '1440px',height: '450px')
      .slick
        .slick-next
          = icon('fas', 'chevron-right')
        .slick-prev
          = icon('fas', 'chevron-left')
    .toppage-main__category
      %h2
        人気のカテゴリー
      .toppage-main__category__menu
        %ul
          %li.toppage-main__category__menu__list
            レディース
          %li.toppage-main__category__menu__list
            メンズ
          %li.toppage-main__category__menu__list
            家電・スマホ・カメラ
          %li.toppage-main__category__menu__list
            おもちゃ・ホビー・グッズ
    .toppage-main__container
      .toppage-main__container__item-box
        .toppage-main__container__item-box__list
          .toppage-main__container__item-box__list__name
            レディース
          .toppage-main__container__item-box__list__more
            もっと見る >
        .toppage-main__container__item-box__contents
          .toppage-main__container__item-box__contents__images
            .toppage-main__container__item-box__contents__images__box
              .toppage-main__container__item-box__contents__images__box__image
              .toppage-main__container__item-box__contents__images__box__price
              .toppage-main__container__item-box__contents__images__box__text
  = render "shared/footer"